<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RpcServerSoapManagerBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.coordinadora.com/ags/1.4/server.php"
                binding="basicHttpBinding" bindingConfiguration="RpcServerSoapManagerBinding"
                contract="RpcServerSoapManagerPort" name="RpcServerSoapManagerPort" />
        </client>
    </system.serviceModel>
</configuration>